<launch>
  <group ns="H02">
    <node pkg="nodelet" type="nodelet" name="standalone_nodelet" args="manager" output="log" />
    
    <!-- Terrain detection: Center RealSense -->
    <node pkg="nodelet" type="nodelet" name="robot_lidar_detection" args="load robot_lidar_detection/robot_lidar_detection_nodelet standalone_nodelet" respawn="true" output="log">
        <remap from="pcl_in"      to="horiz/os_cloud_node/points" />
        <remap from="odom_in"      to="odometry" />
        <rosparam>
            intensity_LT_threshold:   3000
            intensity_GT_threshold:    500
            ror_radius:               0.05
            ror_min_neighbors:          40
            estop_seconds:              10
            estop_timeout_seconds:      20
            estop_reset_radius:          5
        </rosparam>
    </node>
  </group>
</launch>
